<html>
<a href="/logout"><p style="text-align:right">Log out</a>
<h1>CHILDREN DETAILS</h1>
<body>
	<form action="/det" method="get">
	{% for log in results %}
	<li>{{ log|escape }}</li>
	{% endfor %}
	</form>
	<form action="/se" method="get">
		<input type="submit" value="SEARCH">
	</form>	
	<input type="button" value="back" onclick="history.go(-1)";return true;/>	
	</body>
</html>