<html>
<a href="/logout"><p style="text-align:right">Log out</a>
<h1>CHILDREN DETAILS</h1>
<body>
	<form action="/det/" method="get">
    
    {% for log in results %}
	<li>{{ log|escape }}</li>
	{% endfor %}
	<input type="button" value="back" onclick="history.go(-1)";return true;/>
	</form>
</body>
</html>