<html>
<a href="/logout"><p style="text-align:right">Log out</a>
<h1>ENTERED DETAILS</h1>
<body>
	<form action="/sin" method="get">
		<table>
		<tr><td>FIRSTNAME </td><td> {{a}}</td></tr>
		<tr><td>LASTNAME</td><td>{{b}}</td></tr>
		<tr><td>AGE </td><td>{{c}}</td></tr>
		<tr><td>FATHER'S NAME </td><td>{{d}}</td></tr>
		<tr><td>MOTHER'S NAME </td><td>{{e}}</td></tr>
		<tr><td>FATHERS OCCUPATION</td><td>{{f}}</td></tr>
		<tr><td>PHONE NUMBER</td><td>{{h}}</td></tr>
		<tr><td>STATE</td><td>{{i}}</td></tr>
		<tr><td>PINCODE</td><td>{{j}}</td></tr>
	</table>
		<input type="submit" value="VIEW ALL DETAILS">
		<input type="button" value="back" onclick="history.go(-1)";return true;/>
   	</form>
</body>
</html>