<html>
<head><title>LOGIN</title>
<link rel="stylesheet" href="/site_media/login/login-box.css" />
</head>
<body>
	<center>	
		<form  action="/log/"  method="post" align="center">
			<center>
		<div style="padding: 80px 0 0 50px;">


<div id="login-box">

<H2>Login</h2>
<br />
<br />
{% if state %}
{{state}}
{% endif %}
<div id="login-box-name" style="margin-top:20px;">username:</div><div id="login-box-field" style="margin-top:20px;"><input name="user" class="form-login" title="Username" value="" size="30" maxlength="2048" /></div>
<div id="login-box-name">Password:</div><div id="login-box-field"><input name="pass" type="password" class="form-login" title="Pass" value="" size="30" maxlength="2048" /></div>
<br />
<input type="submit" value="login">
<br />
<br />
</div>
</div>
	</form>
	</center>

</body>
</html>