<html>
<a href="/logout"><p style="text-align:right">Log out</a>
<body>
	SEARCHED RESULT  
	{% for log in res %}
	<li>{{log|escape}}</li>
	{% endfor %}

	<input type="button" value="back" onclick="history.go(-1)";return true;/>
</body>
</html>